.card {
  position: relative;
  border-radius: 15px;
  width: 500px;
  height: 500px;
  /* margin: 120px auto; */
  padding: 16px 24px;
  background-color: #868e96;
  box-shadow: 2px 3px 10px rgba(53, 53, 53, 0.589);
}
